#div1{
	height: 500px;
	border: 1px solid gray;
  background-color: red;

	/*linear gradient*/
	/*--------------------------------------------------------*/
	background-image: linear-gradient(green,blue);
	background-image: linear-gradient(green,blue,red);
	background-image: linear-gradient(green,blue,red,yellow);  
	/* here the direction is from top to bottom*/


	/* no we want to change the direction of the gradient*/
	background-image: linear-gradient(to right,green,blue,red);
 
    /*background-image: linear-gradient(to bottom right,green,blue,red);*/
   /* background-image: linear-gradient(to top right,green,blue,red);*/
    background-image: linear-gradient(to bottom left,green,blue,red);



    /* you can also write in degrees to change the direction of the gradient*/
    background-image: linear-gradient(120deg ,green,blue,red);
    /*background-image: linear-gradient(180deg ,green,blue,red);*/
   /* background-image: linear-gradient(90deg ,green,blue,red);*/



    /*radial Gradient*/
    /*---------------------------------------*/
    background-image: radial-gradient(green, blue); 
    /* it is by default eclipse*/
    background-image: radial-gradient(green, blue, red);

    /* if you weant to change the shape of the radial gradient 
    then u need to mention it*/
    /*background-image: radial-gradient(circle ,green, blue,red); */
    /* note here only circle and eclipse is available as per my knowledge
    and i guess there are no other shapes
    as i have already checked it in w3.Schools*/ 





    /*now suppose u want how much which color occupy*/
    background-image: radial-gradient(circle ,green 20%, blue 30%,red 50%);   
    
 background-image: radial-gradient(closest-side at 60% 55%, red, yellow, black);  
 background-image: radial-gradient(farthest-side at 60% 55%, red, yellow, black);  
 background-image: radial-gradient(closest-corner at 60% 55%, red, yellow, black);  
 background-image: radial-gradient(farthest-side at 60% 55%, red, yellow, black);  

   /* how to repeat the gradient*/
/*background-image: repeating-radial-gradient(circle ,green, blue 10%,red 10%); 
*/

background: #333333;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #dd1818, #333333);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #dd1818, #333333); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

 }