*{
	margin: 0px;
	padding: 0px;
}

main{
	width: 90%;margin: 50px auto;
	border: 1px solid black;
	color: white;

	display: grid;

	/*grid-template-rows: 150px 150px;*/
	/*grid-template-columns: 150px 150px 150px;*/
	/*grid-template-columns: 1fr 1fr 1fr;*/
	/*grid-row-gap: 20px;
	grid-column-gap: 30px;*/



    grid-template-rows: repeat(2,150px);
    grid-template-columns: repeat(3,1fr);
	grid-gap: 20px 30px;
	grid-gap: 30px;

	/*grid-auto-rows: 150px;*/  /* this states that the height of all the 
	implicit rows will be 150px*/


	/*align-items: center;*/
	/*align-items: stretch;*/
	/*align-items: flex-start;*/
	/*justify-content: center;*/
	/*justify-items:center;*/


	/*grid-template-columns: min-content repeat(2,1fr);*/

	/*grid-template-columns: max-content repeat(2,1fr);*/

	/*grid-template-columns: minmax(10px,200px) repeat(2,1fr);*/

	 grid-template-columns: repeat(3,minmax(150px , 200px));  /* doubt*/

	 grid-template-columns: repeat(auto-fit,minmax(150px , 200px));   /* doubt*/

	 grid-template-columns: repeat(auto-fit,minmax(150px , 1fr));   /* doubt*/

}
.div1{
	background-color: red;
}

.div2{
	background-color: violet;
	/*grid-column: 1/4;*/
	/*grid-column: 1/-1; */ /* here -1 means the last n line present*/
}

.div3{
	background-color: orange;
}

.div4{
	background-color: blue;
}


.div5{
	background-color: green;

	/*grid-row-start: 1;*/
	/*grid-row-end: 2;*/
	/*grid-row: 1/2;*/
	/*grid-column-start: 2;*/
	/*grid-column-end: 3;*/
	/*grid-column: 2/3;*/

	/*grid-column-end: 4;*/
	/*grid-column: 2/4;*/
}

.div6{
	background-color: black;
}


/*note : the rows that u have defined are called as explicit rows
 and the rows that u have not defibed are called as implicit rows*/